https://www.ritchieng.com/machine-learning-evaluate-linear-regression-model/

In [46]:
from sklearn import linear_model
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn import metrics

In [2]:
from sklearn import datasets ## imports datasets from scikit-learn
data = datasets.load_boston() ## loads Boston dataset from datasets library

In [14]:
# define the data/predictors as the pre-set feature names  
df = pd.DataFrame(data.data, columns=data.feature_names)

# # Put the target (housing value -- MEDV) in another DataFrame
target = pd.DataFrame(data.target, columns=["MEDV"])

In [15]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [16]:
target.head()

   MEDV
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, target, test_size=0.33, shuffle=False)

In [29]:
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)

In [40]:
lm.intercept_

array([-12.9577808])

In [42]:
lm.coef_

array([[ 1.24012773,  0.01320467,  0.02945732,  0.76975506, -9.26604544,
         9.24803924, -0.04684958, -0.98916853,  0.11925733, -0.0142279 ,
        -0.65141413,  0.01609597, -0.09006353]])

In [31]:
predictions = lm.predict(X_test)

In [47]:
print(np.sqrt(metrics.mean_squared_error(y_test, predictions)))

21.38747078902741