In [25]:
from sklearn import linear_model
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
from sklearn import datasets ## imports datasets from scikit-learn
data = datasets.load_boston() ## loads Boston dataset from datasets library

In [14]:
# define the data/predictors as the pre-set feature names  
df = pd.DataFrame(data.data, columns=data.feature_names)

# # Put the target (housing value -- MEDV) in another DataFrame
target = pd.DataFrame(data.target, columns=["MEDV"])

In [15]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [16]:
target.head()

   MEDV
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, target, test_size=0.33, shuffle=False)

In [29]:
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)

In [31]:
predictions = lm.predict(X_test)

In [33]:
predictions[:10]

array([[20.71566993],
       [19.99336277],
       [33.00428796],
       [23.07063099],
       [26.64804638],
       [28.98868456],
       [16.89509917],
       [15.15087546],
       [24.4210225 ],
       [27.03362772]])

In [23]:
lm.score(X,y)

0.7406426641094094